<div
  class="ReliefAgad dark-bg flex flex-col h-screen justify-center items-center"
>
  <div class="p-3 h-full flex flex-col justify-center text-center">
    <img src="assets/images/logo-relief-agad.svg" />
    <p class="mat-headline pt-4">ReliefAgad</p>
    <p class="text-center mat-subheading-2">Social Amelioration Card</p>
    <button
      mat-flat-button
      color="accent"
      class="mt-4 ReliefAgad-cta"
      [routerLink]="['/personal-information']"
    >
      Magsimula
    </button>
  </div>
  <caption class="mb-2 text-center">
    ReliefAgad is a platform created by:
  </caption>
  <!-- <div class="mb-4 mx-auto">
    <img src="assets/partner-DCTXLogo.png" class="partner-logo mx-3">&nbsp;
    <img src="assets/partner-USAIDLogo.png" class="partner-logo">&nbsp;
    <img src="assets/partner-DICTLogo.png" class="partner-logo">
  </div> -->
</div>
